body {
    min-height: 100vh;
    padding-top: 70px; 
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #202123;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.title-img {
    height: 45px;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.6));
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-family: "pop-bold";
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: orange;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
}

@media (max-width: 768px) {

    .title-img {
        height: 38px;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #202123;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 15px;

        transform: translateY(-150%);
        transition: 0.3s ease-in-out;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .nav-links a {
        font-size: 18px;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .burger {
        display: flex;
    }
}
.logo {
    margin-top: 17px;
}

.title-img {
    margin-top: 8px;
}