
body {
    background: url("/media/fd.jpg") no-repeat center center fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

.update-wrapper {
    min-height: calc(100vh - 80px); /* navbar space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin-top: 60px;
}

.update-form {
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0.96);
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 30px 70px rgba(0,0,0,0.35);
}


.form-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    font-family: cursive;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 600;
    font-family: cursive;
}

input,
textarea,
select {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: cursive;
}

textarea {
    min-height: 150px;
    resize: vertical;
}

.image-group img {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
}
.submit-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 14px;
    background: #ff9800;
    font-weight: 700;
    cursor: pointer;
    font-family: cursive;
}

.submit-btn:hover {
    background: orangered;
}
@media (max-width: 600px) {
    .update-form {
        padding: 24px;
    }

    .form-title {
        font-size: 1.6rem;
    }
}
#file{
    cursor: pointer;
}
