{% extends "base.html" %}
{% load static %}

{% block title %}Recipe Library{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/view.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
<div class="messages-wrapper">
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="con">
    <div class="top-search">
        <form id="searchForm" method="GET" action="{% url 'view' %}">
            <input type="text" id="searchInput" name="q" placeholder="Search recipe or ask AI Chef..."
                value="{{ search_query|default:'' }}">
            <button type="submit" id="searchBtn">Search Recipe</button>
        </form>
    </div>
    <div class="box" id="recipeContainer">
        <h2 class="external-title">Original Recipes</h2>

        {% if recipe_datas %}
        {% for data in recipe_datas %}

        <div class="card">

            {% if data.image %}
            <img src="{{ data.image.url }}" alt="recipe image">
            {% endif %}

            <h2>{{ data.recipe_name }}</h2>

            <p>
                {{ data.recipe_description|truncatewords:6 }}
                <a href="{% url 'view_1' sid=data.recipe_id %}" class="see-more">
                    See Details
                </a>
            </p>

            <p class="rating">⭐ {{ data.rating }}</p>

            <div class="card-actions">

                <div class="social-actions" id="social-{{ data.recipe_id }}">

                    <form method="POST" action="{% url 'like_recipe' data.recipe_id %}">
                        {% csrf_token %}
                        <button type="submit" class="action-btn like">
                            ❤️ {{ data.likes.count }}
                        </button>
                    </form>

                    <form method="POST" action="{% url 'save_recipe' data.recipe_id %}">
                        {% csrf_token %}
                        <button type="submit" class="action-btn save">
                            ⭐ Save
                        </button>
                    </form>

                    <button class="action-btn share" data-url="{% url 'view_1' sid=data.recipe_id %}"
                        onclick="copyLink(this.dataset.url)">
                        🔗 Share
                    </button>

                </div>

                <div class="comment-box">

                    <button class="action-btn comment" onclick="toggleComment('{{ data.recipe_id }}')">
                        💬 {{ data.comments.count }}
                    </button>

                    <form method="POST" action="{% url 'add_comment' data.recipe_id %}"
                        id="comment-{{ data.recipe_id }}" class="comment-form" style="display:none;">
                        {% csrf_token %}
                        <input type="text" name="comment" placeholder="Write a comment..." required>
                        <button type="submit">Post</button>
                    </form>

                    <div class="comment-list" id="comments-{{ data.recipe_id }}" style="display:none;">
                        {% for c in data.comments.all %}
                        <p class="single-comment">💬 {{ c.text }}</p>
                        {% empty %}
                        <p class="single-comment no-comment">
                            No comments yet
                        </p>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="no-results">
            <p>No original recipes found.</p>
        </div>
        {% endif %}
        <h2 class="external-title">External Recipes</h2>

        {% if external_recipes %}
        {% for r in external_recipes %}

        <div class="card external">

            {% if r.strMealThumb %}
            <img src="{{ r.strMealThumb }}" alt="external recipe">
            {% endif %}

            <h2>{{ r.strMeal }}</h2>

            <p>
                {{ r.strInstructions|truncatewords:6 }}
                {% if r.strSource %}
                <a href="{{ r.strSource }}" target="_blank" class="see-more">
                    View Original
                </a>
                {% endif %}
            </p>

            <p class="rating">⭐ API Recipe</p>

        </div>

        {% endfor %}
        {% else %}
        <div class="no-results">
            <p>No external recipes found.</p>
        </div>
        {% endif %}

        <div id="scrollLoader" style="width:100%; text-align:center;
               padding:20px; display:none;
               font-family: cursive;">
            <p>Loading more recipes...</p>
        </div>

    </div>

    <script>
        function toggleComment(id) {

            const form = document.getElementById("comment-" + id);
            const list = document.getElementById("comments-" + id);
            const social = document.getElementById("social-" + id);

            const isHidden = form.style.display === "none";

            if (isHidden) {
                form.style.display = "flex";
                list.style.display = "flex";
                list.style.alignItems = "center";
                social.style.display = "none";
            } else {
                form.style.display = "none";
                list.style.display = "none";
                social.style.display = "flex";
            }
        }
        document.addEventListener("DOMContentLoaded", function () {

            const searchInput = document.getElementById("searchInput");
            const searchForm = document.getElementById("searchForm");

            let timeout;

            if (searchInput) {
                searchInput.addEventListener("keyup", function () {

                    clearTimeout(timeout);

                    timeout = setTimeout(() => {
                        searchForm.submit();
                    }, 400);

                });
            }

        });
    </script>

    <script>
        function copyLink(url) {
            const fullUrl = window.location.origin + url;
            navigator.clipboard.writeText(fullUrl);
            alert("Link copied 🔗");
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            let page = 1;
            let loading = false;
            let hasMore = true;

            const container = document.querySelector(".card.external")
                ? document.querySelector(".card.external").parentElement
                : document.getElementById("recipeContainer");
            const loader = document.getElementById("scrollLoader");

            async function loadMoreRecipes() {

                if (loading || !hasMore) return;

                loading = true;
                loader.style.display = "block";

                try {
                    const response = await fetch("{% url 'load_more_api' %}?page=" + page);
                    const data = await response.json();

                    if (data.recipes.length === 0) {
                        hasMore = false;
                        loader.innerHTML = "<p>No more recipes</p>";
                        return;
                    }

                    data.recipes.forEach(r => {

                        const card = document.createElement("div");
                        card.className = "card external";

                        card.innerHTML = `
                    <img src="${r.image}">
                    <h2>${r.name}</h2>
                    <p>${r.desc}...</p>
                    ${r.source ? `<a href="${r.source}" target="_blank" class="see-more">View Original</a>` : ""}
                    <p class="rating">⭐ API Recipe</p>
                `;

                        container.appendChild(card);
                    });

                    page++;
                } catch (error) {
                    console.log(error);
                }

                loader.style.display = "none";
                loading = false;
            }

            // 🔥 Trigger when near bottom
            window.addEventListener("scroll", function () {

                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 200) {
                    loadMoreRecipes();
                }

            });

        });
    </script>
    <script src="{% static 'js/search.js' %}"></script>

    {% endblock %}